<header> 
        {{>header}}
<br>
    <body align='center' style="background-color:rgb(232, 194, 232);" >
        {{>body}}
    <h2 style="color: rgb(180, 78, 95)"> Adventures are the best way to learn</h2>
<img height="300" width="300" class="portrait" src="/img/nature.jpg"> 
        {{>footer}}

    </body>
</header>
